html, body {
    height: 100%;
}
body {
    padding: 0;
    margin: 0;
    /*background-color: #2DD4BF;*/ /* Teal 400 */
    background-color: whitesmoke; /* Teal 400 */
    font-size: 12px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
}

.banner-hamburger {
    width: 50px;
    display: inline-block;
}

.banner-text {
    width: 250px;
    display: inline-block;
}

.banner {
    /*    position: absolute;
    top: 0;
    left: 0;
    right: 0;
*/
    height: 100px;
    background-color: blue;
    color: white;
    z-index: 3 !important;
    position: relative;
}

.body-container {
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0px;
}

.menu-scrollable {
    overflow-y: scroll !important;
    height: calc(100vh - 100px) !important;
}

.body-container-scrollable {
    overflow-y: auto;
}

.body-container-not-scrollable {
    overflow-y: hidden;
}

.maincontent {
    /*    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 6px;
*/
    /*background-color: yellow;*/
    z-index: 1;
}

.text-content {
    font-size: 1.5rem;
    padding: 1rem;
    z-index: 0;
}

.e-sidebar-context {
    /*position: absolute !important;*/
}

@media screen and (min-width: 200px) {
    .e-selected {
        color: black !important;
        font-weight: bold;
    }

    .e-menu {
        background-color: whitesmoke !important;
    }

    .e-menu-parent {
        background-color: whitesmoke !important;
    }

    .e-menu-item {
        font-size: 14px !important;
        background-color: whitesmoke !important;
        margin: 10px 0 !important;
    }
}

@media screen and (min-width: 600px) {
    .e-selected {
        color: black !important;
        font-weight: bold;
    }

    .e-menu {
        background-color: whitesmoke !important;
    }

    .e-menu-parent {
        background-color: whitesmoke !important;
    }

    .e-menu-item {
        font-size: 14px !important;
        background-color: whitesmoke !important;
        margin: 10px 0 !important;
    }
}

